<div class="dashboard-container">
    <div class="dashboard-content">
        <div class="dashboard-title" style="padding-bottom: 0px;"></div>
        <div class="top-cards">
            <div class="total-balance-card">
                <h1 id="typing-text"></h1>
                <!-- <h2>$120,456.50</h2> -->
  
                <h3 class="tech-stack-title">Tech-Stack</h3>
                <div class="image-container">
                    <img src="../../assets/images/html.png" alt="HTML Logo" />
                    <img src="../../assets/images/text.png" alt="Text Logo" />
                    <img src="../../assets/images/js.png" alt="JavaScript Logo" />
                    <img src="../../assets/images/icons8-angular-48.png" alt="Angular Logo" />
                    <img src="../../assets/images/typescript.png" alt="TypeScript Logo" />
                    <img src="../../assets/images/sql-server.png" alt="SQL Server Logo" style="background-color: white; border-radius: 5px;" />
                    <img src="../../assets/images/c-sharp.png" alt="C# Logo" />
                    <img src="../../assets/images/social.png" alt="Social Logo" style="background-color: white; border-radius: 5px;" />
                    <img src="../../assets/images/swift.png" alt="Swift Logo" />
                    <img src="../../assets/images/xcode-seeklogo.png" alt="Xcode Logo" />
                    <img src="../../assets/images/git.png" alt="Git Logo" />
                </div>
            </div>
        </div>
    </div>
  </div>  